# Sets and Keyed Collections

## Sets

a list of unique data -> each element of the list must be distinct between 2 elements no matter data types

Can be declared using the keyword set or a list surrounded by {}

Supports the following operations:
- Intersection
- Union
- Difference
- Symmetric Difference

In [1]:
x = set() # Empty ser

x = {1, 2, 3} # elements 1, 2, 3
x = {1, 1, 1, 2, 2, 3} # elements 1, 2, 3
x = {1, 2, "AB", "ab"} # elements 1, 2, AB, ab
x = set((1,2,3,2)) #x is a set containing 3 elements: 1,2 and 3
x = set([1,2,3,2]) #x is a set containing 3 elements: 1,2 and 3
x = set("Hello") #x is a set containing 4 characters: H,e,l and o

{1, 2, 3, 4, 5, 6}

Elements of a set CANNOT BE ACCESSED (Unordered collection)

In [ ]:
x = {'A', 'B', 2, 3, 'C'}
x[0], x[1], x[1:2], = None, None, None

Additionally, there is no addition between sets

In [ ]:
x = {'A', 'B', 2, 3, 'C'}
y = {'D', 'E', 1}
z = y + x #!!!ERROR !!

### Supported Set Operation

- `add()` method

In [ ]:
x = {1,2,3} #x = {1, 2, 3}
x.add(4) #x = {1, 2, 3, 4}
x.add(1) #x = {1, 2, 3, 4}

- `remove()`, `discard()`, `clear()` methods

In [ ]:
x = {1,2,3} #x = {1, 2, 3}
x.remove(1) #x = {2, 3}
x.discard(2) #x = {3}
x.discard(2) #x = {3}

x = {1,2,3} #x = {1, 2, 3}
x.clear() #x = {}

- Updating a set: `update()` method and operator `|=`

In [ ]:
x = {1,2,3} #x = {1, 2, 3}
x |= {3,4,5} #x = {1, 2, 3, 4, 5}
x.update({5,6}) #x = {1, 2, 3, 4, 5, 6}
x.update({5,6},{6,7}) #x = {1, 2, 3, 4, 5, 6, 7}
x.update({8},{6},{9}) #x = {1, 2, 3, 4, 5, 6, 7, 8, 9}

### Union of sets

In [ ]:
x = {1,2,3}
y = {3,4,5}
t = {2,4,6}
z = x | y | t #z = {1, 2, 3, 4, 5, 6}
s = {7,8}
w = x.union(s) #w = {1, 2, 3, 7, 8}
w = x.union(s, y, t) #w = {1, 2, 3, 4, 5, 6, 7, 8}

### Intersection of sets

In [ ]:
x = {1,2,3,4}
y = {2,3,4,5}
t = {3,4,5,6}
z = x & y & t #z = {3, 4}
w = x.intersection(y) #w = {2, 3, 4}
w = x.intersection(y, t)#w = {3, 4}

### Set Difference

In [ ]:
x = {1,2,3,4}
y = {2,3,4,5}
z = x - y #z = {1}
z = y - x #z = {5}
w = x.difference(y) #w = {1}
s = {1,2,3}
w = x.difference(y,s) #w = {} → empty set

### Set Symmetric Difference

In [ ]:
x = {1,2,3,4}
y = {2,3,4,5}
z = x ^ y #z = {1, 5}
z = y ^ x #z = {1, 5}
w = x.symmetric_difference(y) #w = {1, 5}
s = {1,2,3}
w = x.symmetric_difference(y,s) #!!! ERROR !!!

### Unary operation of a set

- Intersection
    - intersection_update, &=
- Difference
    - difference_update, -=
- Symmetric Difference
    - symmetric_difference_update, ^=
- Union
    - update, |=

### Sets and other collection operations

- Inclusion

In [ ]:
x = {1,2,3,4}
y = 2 in x #y = True
z = 5 not in x #z = True

- Length of a set

In [ ]:
x = {10,20,30,40}
y = len (x) #y = 4

### Other operation

- Disjointed Sets

In [ ]:
x = {1,2,3,4}
y = {10,20,30,40}
z = x.isdisjoint(y) #z = True

- Subsets

In [ ]:
x = {1,2,3,4}
y = {1,2,3,4,5,6}
z = x.issubset(y) #z = True
t = x <= y #t = True

- Superset

In [ ]:
x = {1,2,3,4}
y = {1,2,3,4,5,6}
z = y.issuperset(x) #z = True
t = y >= x #t = True

Sets also support > and < operators. It shows whether a set is a subset or superset of other set. BUT NOT EXACTLY THE SAME SET

In [ ]:
x = {1,2,3,4}
y = {1,2,3,4,5,6}
t = y > x #t = True

x = {1,2,3,4}
y = {1,2,3,4}
t = y > x #t = False

- Popping an element of a set

In [5]:
x = {"A","a","B","b",1,2,3}
print (x)
print (x.pop())

{'a', 1, 2, 3, 'b', 'A', 'B'}
a

### Sets and Functional Programming

In [ ]:
# set of numbers from 1 to 9
x = {i for i in range(1,9)} #x = {1,2,3,4,5,6,7,8}

# set of numbers from 1 to 99 that are divisible by 23
x = {i for i in range(1,100) if i % 23 == 0} #x = {23, 46, 69, 92}

# set of first 5 squares
x = {i*i for i in range(1,6)} #x = {1, 4, 9, 16, 25}

# set of modulos of 5 from 0 to 99
x = {i%5 for i in range(0,100)} #x = {0, 1, 2, 3, 4}

### Sets and Built-in Functions

- `map()` functions

In [ ]:
x = {1,2,3,4,5}

# set of square numbers of elements of set x
y = set(map(lambda element: element*element,x)) #y = {1,4,9,16,25}


x = [1,2,3]
y = [4,5,6]

# set of sum of elements from x and y
z = set(map(lambda e1,e2: e1+e2,x,y)) #z = {5,7,9}

- `filter()` functions and lambda functions

In [ ]:
x = [1,2,3,4,5]

# set of even elements of set x
y = set(filter(lambda element: element%2==0,x)) #y = {2,4}

In [ ]:
# set of squares of numbers from 1 to 9
x = set(map(lambda x: x*x, range(1,10))) #x = {1, 4, 9, 16, 25, 36, 49, 64, 81}

# set of numbers that are 1 in modulo 7
x = set(filter(lambda x: x%7==1,range(1,100))) #x = {1, 8, 15, 22, 29, 36, 43, 50, 57, 64, 71, 78, 85, 92, 99}

- Other functions include, min, max, sum, any, all, sorted, reversed

- Iterating a set

In [6]:
for i in {1,2,3,4,5}:
    print(i)

1
2
3
4
5

- `frozenset()` function

In [ ]:
x = frozenset ({1,2,3})
x.add(10) #!!!ERROR!!!

## Dictionaries

- Implementation of a hash-map in Python (key -> value) pair
- Can be created with keyword `dict` or between {}

In [2]:
x = dict() #x is an empty dictionary
x = {} #x is an empty dict (typeof(x)=“dict”)
x = {"A":1, "B":2} #x is a dictionary with 2 keys
#(“A” and “B”)
x = dict(abc=1,aaa=2) #equivalent to x= {”abc”:1, ”aaa”:2}
x = dict({"abc":1,"aaa":2}) #equivalent to x= {”abc”:1, ”aaa”:2}
x = dict([("abc",1) ,("aaa",2)]) #equivalent to x= {”abc”:1, ”aaa”:2}
x = dict((("abc",1) ,("aaa",2))) #equivalent to x= {”abc”:1, ”aaa”:2}
x = dict(zip(["abc","aaa"],[1,2]))#equivalent to x= {”abc”:1, ”aaa”:2}

{'apples': 6, 'bananas': 7, 'oranges': 7}

- Accessing an element by index is done using []. This time, an index can be of any type

In [ ]:
x = {} #x is an empty dictionary
x['ABC'] = 2 #x is a dictionary with one key (ABC)
y = x['ABC'] #y = 2
y = x['test'] #!!! ERROR !!!

- `setdefault` updating an element of dictionary

In [ ]:
x = {'A':1, 'B':2} #x = {”A”:1,”B”:2}
y = x.setdefault('C',3) #x = {”A”:1,”B”:2,”C:3”}, y=3
y = x.setdefault('D') #x = {”A”:1,”B”:2,”C:3”,”D”:None}, y=None
y = x.setdefault('A') #x = {”A”:1,”B”:2,”C:3”,”D”:None}, y=1
y = x.setdefault('B',20) #x = {”A”:1,”B”:2,”C:3”,”D”:None}, y=2

- `update`

In [ ]:
x = {'A':1, 'B':2} #x = {”A”:1,”B”:2}
x.update({'A':10}) #x = {”A”:10,”B”:2}
x.update({'A':100,'B':5}) #x = {”A”:100,”B”:5}
x.update({'C':3}) #x = {”A”:100,”B”:5,”C”:3}
x.update(D=123,E=111) #x = {”A”:100,”B”:5,”C”:3,”D”:123,”E”:111}

- `del` and `clear`

In [ ]:
x = {'A':1, 'B':2} #x = {”A”:1,”B”:2}
del x['A'] #x = {”B”:2}
x.clear() #x is an empty dictionary
del x['C'] #!!! ERROR !!! “C” is not a key in x

- `copy` and `fromkeys`

In [ ]:
x = {'A':1, 'B':2} #x={”A”:1,”B”:2}
y = x.copy() #makes a shallow copy of x
y['C']=3 #x={”A”:1,”B”:2},y={”A”:1,”B”:2,”C”:3}
x = dict.fromkeys(['A','B']) #x = {”A”:None,”B”:None}
x = dict.fromkeys(['A','B'],2)#x = {”A”:2,”B”:2}

- `get`

In [ ]:
x = {'A':1, 'B':2} #x = {”A”:1,”B”:2}
y = x.get('A') #y = 1
y = x.get('C') #y = None
y = x.get('C',123) #y = 123

- pop

In [ ]:
x = {'A':1, 'B':2} #x={”A”:1,”B”:2}
y = x.pop('A') #x={”B”:2}, y = 1
y = x.pop('C',123) #x={”B”:2}, y = 123
y = x.pop('D') #!!! ERROR !!! Key “D” does not exist
#and no default value was provided

### Dictionaries and Functional Programming

In [ ]:
x = {i:i for i in range(1,9)}
#x = {1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8}
x = {i:chr(64+i) for i in range(1,9)}
#x = {1:”A”,2:”B”,3:”C”,4:”D”,5:”E”,6:”F”,7:”G”,8:”H”}
x = {i%3:i for i in range(1,9)}
#x = {0:6,1:7,2:8} → last values that were updated
x = {i:chr(64+i) for i in range(1,9) if i%2==0}
#x = {2:”B”, 4:”D”, 6:”F”, 8:”H”}
x = {i%3:chr(64+i) for i in range(1,9) if i<7}
#x = {1:”D”, 2:”E”, 0:”F”}

- Getting the key of a dictionary: `keys`

In [ ]:
x = {'A':1, 'B':2} #x = {”A”:1,”B”:2}
y = x.keys() #y = [”A”,”B”] → an iterable object

- Iterating through a dictionary, keys only

In [7]:
x = {'A':1, 'B':2}
for i in x:
    print (i)

A
B

In [8]:
x = {'A':1, 'B':2}
for i in x.keys():
    print (i)

A
B

- To get the value for each entry: `values`

In [ ]:
x = {'A':1, 'B':2} #x = {”A”:1,”B”:2}
y = x.values() #y = [”1”,”2”] → an iterable object

In [ ]:
x = {'A':1, 'B':2}
for i in x.values():
    print (i)

- `item` -> returns a tuple of key and value

In [ ]:
x = {'A':1, 'B':2} #x = {”A”:1,”B”:2}
y = x.items() #y = an iterable object (Python 3) or
#a list of tuples for Python 2.
#[ (”A”:1) , (”B”:2) ]

In [ ]:
x = {'A':1, 'B':2}
for i in x.items():
    print (i)

- We can use `items` method to sort a dictionary by value

In [9]:
x = {
    "Dacia" : 120,
    "BMW" : 160,
    "Toyota" : 140
}
for i in sorted(x.items(),key = lambda element : element[1]):
    print (i)

('Dacia', 120)
('Toyota', 140)
('BMW', 160)

- `**` operator is used to mark a given parameter is a dictionary

In [10]:
def GetFastestCar(**cars):
    min_speed = 0
    name = None
    for car_name in cars:
        if cars[car_name] > min_speed:
            name = car_name
            min_speed = cars[car_name]
    return name
fastest_car = GetFastestCar(Dacia=120,BMW=160,Toyota=140)
print (fastest_car)
#fastest_car = ”BMW”

BMW

### Functions

- `filter` and `del`

In [ ]:
x = {
    "Dacia" : 120,
    "BMW" : 160,
    "Toyota" : 140
}
y = dict(filter(lambda element : element[1]>=140,x.items()))
#y = {”Toyota”:140, ”BMW”:160}

- `enumerate` -> In case of a dictionary it returns a tuple of index and key

In [11]:
x = {
    "Dacia" : 120,
    "BMW" : 160,
    "Toyota" : 140,
    "Volvo" : 115,
    "Renault" : 120,
}
for a in enumerate (x):
    print (a)

(0, 'Dacia')
(1, 'BMW')
(2, 'Toyota')
(3, 'Volvo')
(4, 'Renault')